hr.style15 {
	border-top: 4px double #FDD0FF;
	text-align: center;
}

hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #fdd5b1;
	color: #4444;
	font-size: 18px;
}




h1 {background-color:#ffff;
  font-family: 'Lucia Sans Unicode', serif;
   color:pink;
font-size: 50px;
}

h2 {background-color:#ffff;
  font-family: 'Lucia Sans Unicode', serif;
   color:pink;
font-size: 40px;
}

h3 {background-color:#ffff;
  font-family: 'Lucia Sans Unicode', serif;
   color:gray;
font-size: 20px;
}

h4 {background-color:#ffff;
  font-family: 'Lucia Sans Unicode', serif;
   color:pink;
font-size: 40px;
}

body
{
background-color:  #ffff99;
background-position: 0 120px;
color: #230b49
line-height: 1.45;
text-align: left;
font-family: 'Lucia Sans Unicode', serif;}

#nav {
background-color: #fdd5b1
}
#nav ul{
list-style-type: none;
padding: 0;
margin:0;
position: relative;
}
#nav ul li {display: inline-block;}

#nav ul li:hover{
background-color: #ffff99;
}
#nav ul li a, visited {
color: #444;
display: block;
padding:15px;
text-decoration: none;
}

#nav ul li:hover ul{
display: block;
}
#nav ul ul {display: none;
position: absolute;
}
